html {
	background-color: #f2f2f2;

}


body {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;

	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	-webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.main-header {
	position: relative;
}

.main-navigation {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0;
	color: #000;
	background-color: #fff;
}



.main-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-logo {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
	-webkit-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	transform: translatex(-50%);
	width: 138px;
	height: 70px;
}

.menu-items {
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.menu-items:first-child {
	padding-left: 6%;
}

.menu-items:nth-child(2) {
	margin-right: 7%;
	margin-left: -5px;
}

.menu-items:last-child {
	padding-right: 6%;
}

.menu-items:nth-child(1),
.menu-items:nth-child(2) {
	text-align: left;
}

.menu-items:nth-child(3),
.menu-items:nth-child(4) {
	text-align: right;
}

.main-menu a {
	color: #000;
}

.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}

.main-menu a:active {
	color: rgba(0, 0, 0, 0.30);
}

.container {
	margin: 0 auto;
}

.promo {
	width: 100%;
	position: relative;
	margin-bottom: 61px;
	background-image: url("../img/main-decor.png"),
	url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: bottom, center;
}

.promo-text {
	position: relative;
	top: 76px;
	left: 50%;
	z-index: 1;
	padding-bottom: 150px;
	-webkit-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	transform: translatex(-50%);
	width: 458px;
	height: 352px;
}

.features {
	width: 100%;
}

.features-title {
	margin: 0;
	margin-bottom: 26px;
	padding: 0 21%;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000;
	text-align: center;
}

.features-lead {
	margin: 0;
	margin-bottom: 51px;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	color: #333;
	text-align: center;
}

.features-list,
.description-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.features-item-main {
	width: 100%;
}

.features-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.features-content {
	width: 33.33%;
	padding: 0;
	padding-bottom: 37px;
	text-align: center;
	background-color: #81b3d2;
}

.features-content h3 {
	margin: 0;
	padding-top: 48px;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 24px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-align: inherit;
}

.features-content p {
	margin: 0;
	padding-top: 0;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 21px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #fff;
	text-align: center;
}

.features-content p.small-align {
	padding-right: 12%;
	padding-left: 12%;
}


.features-pic-1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 66.66%;
	background-image: url("../img/city.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.description-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.description-items {
	padding-top: 161px;
	width: 33.33%;
}

.description-items b {
	padding-top: 80px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000;
}


.description-items p {
	padding-left: 13%;
	padding-right: 13%;
	padding-top: 8px;
	padding-bottom: 67px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #333;
}

.icon-house {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: center 58px;
}

.icon-food {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: center 58px;
}

.icon-souvenirs {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: center 53px;
}

.features-pic-2 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 66.66%;
	background-image: url("../img/canyon.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.features-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-grow: 1;
	width: 33.33%;
	margin-bottom: 55px;
	padding: 0;
	text-align: center;
	background-color: #eeeeee;
}



.content-align {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 48px 15%;
	text-align: center;
}

.content-align h3 {
	margin: 0;
	padding-left: 23%;
	padding-right: 23%;
	padding-bottom: 23px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000;
	text-align: center;
}

.content-align p {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333;
	text-align: center;
}

.content-align p:first-of-type {
	padding-bottom: 21px;
}

.content-align p:last-of-type {
	padding-bottom: 11px;

}

.search {
	width: 100%;
	text-align: center;
	background-color: #fff;
}


.search h3 {
	margin: 0;
	padding-bottom: 31px;
	text-align: center;
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
}



.search p {
	margin: 0;
	padding-bottom: 46px;
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333;
}


.btn {
	width: 568px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	background-color: #766357;
	border: none;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	background-color: #604e43;
	border: none;
}

.btn:active {
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.302);
	background-color: #503e33;
	border: none;
}

.map {
	position: relative;
	width: 100%;
	height: 593px;
	margin-bottom: -120px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.map img {
	position: absolute;
	bottom: 0;
	z-index: 0;
	left: 0;
}

.google-map {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 593px;
}

.search-form {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 3;

	width: 568px;
	height: 395px;
	padding-top: 53px;
	padding-left: 0;
	background-color: white;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form .fieldset-form {
	margin: 0;
	padding: 0;
	border: none;
}

.search-form p {
	margin: 0;
	vertical-align: middle;
	padding: 0;
	padding-left: 0;
}



.search-form label {
	padding-left: 56px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000;
}

.search-form input {
	width: 345px;
	height: 38px;
	margin-bottom: 29px;
	margin-left: 19px;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	background-color: #f2f2f2;
	border: none;
}

.search-form .check-out {
	position: relative;
	margin-left: 16px;
}

.search-form input:hover {
	font-size: 14px;
	font-weight: 700;
	color: #000;
	background-color: #ebebeb;
	border: none;
}

.search-form input:focus {
	font-size: 14px;
	font-weight: 700;
	color: #000;
	background-color: #fff;
	outline: 2px solid #e5e5e5;
}

.search-form input::-webkit-input-placeholder {
	padding-left: 14px;
	color: #000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
}

.search-form input:-ms-input-placeholder {
	padding-left: 14px;
	color: #000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
}

.search-form input::-ms-input-placeholder {
	padding-left: 14px;
	color: #000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
}

.search-form input::placeholder {
	padding-left: 14px;
	color: #000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.calendar-icon-in {
	position: absolute;
	top: 63px;
	left: 477px;
	fill: #cacaca;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.calendar-icon-out {
	position: absolute;
	top: 131px;
	left: 477px;
	fill: #cacaca;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.calendar-icon-in:hover,
.calendar-icon-out:hover,
.calendar-icon-in:focus,
.calendar-icon-out:focus {
	fill: #000;
}

.calendar-icon-in:active,
.calendar-icon-out:active {
	fill: #90bcd7;
}

.guest-field {
	margin: 0;
	padding: 0;
}

.guest-field label {
	margin: 0;
	padding-left: 55px;
}

.guest-field .label-child-align {
	padding-left: 51px;
}

.guest-field input {
	margin-bottom: 0;
}

.guest-field .guest-adult,
.guest-field .guest-child {
	width: 114px;
	margin-left: 37px;
}

.guest-field .guest-adult {
	position: relative;
	margin-right: -2px;
}

.guest-field .guest-child {
	position: relative;
	margin-left: 24px;

}

.guest-field .adult-minus {
	position: absolute;
	top: 201px;
	left: 174px;
	z-index: 1;
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;

}

.guest-field .child-minus {
	position: absolute;
	top: 201px;
	left: 407px;
	z-index: 1;
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.guest-field .child-plus {
	position: absolute;
	top: 201px;
	left: 481px;
	z-index: 1;
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.guest-field .adult-plus {
	position: absolute;
	top: 201px;
	left: 250px;
	z-index: 1;
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;

}

.guest-field input:nth-child(3)::-webkit-input-placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.guest-field input:nth-child(3):-ms-input-placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.guest-field input:nth-child(3)::-ms-input-placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.guest-field input:nth-child(3)::placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.guest-field input:last-of-type::-webkit-input-placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.guest-field input:last-of-type:-ms-input-placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.guest-field input:last-of-type::-ms-input-placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.guest-field input:last-of-type::placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.adult-minus,
.child-minus {
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;
}


.adult-minus:hover,
.child-minus:hover {
	stroke: #000;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.adult-minus:active,
.child-minus:active {
	stroke: #90bcd7;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.child-plus,
.adult-plus {
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;
}


.child-plus:hover,
.adult-plus:hover {
	stroke: #000;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.child-plus:active,
.adult-plus:active {
	stroke: #90bcd7;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.btn-search {
	width: 456px;
	height: 58px;
	margin: 55px;
	margin-top: 50px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	background-color: #81b3d2;
	border: none;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.btn-search:hover,
.btn-search:focus {
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	background-color: #669ec0;
	border: none;
}

.btn-search:active {
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.30);
	background-color: #669ec0;
	border: none;
}


.main-footer {
	position: relative;
	margin-top: -120px;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 1;
	width: 100%;
	margin: 0;
	padding: 36px 0;
	text-align: center;
	color: #000;
	background-color: rgba(255, 255, 255, 0.90);
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer .footer-text {
	width: 33%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
}

.main-footer p {
	width: 33.33%;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	font-weight: 700;
}

.main-footer .footer-social {
	width: 33.33%;
	margin: 0;
	padding: 0;
}

.main-footer .social-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 150px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style: none;
}

.main-footer .icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 46px;
	height: 48px;
	text-align: center;
	background-color: #81b3d2;
	text-decoration: none;
}

.main-footer .icon:hover,
.main-footer .icon:focus {
	background-color: #669ec0;
}

.main-footer .icon:active,
.main-footer .icon:active {
	background-color: #5496bd;
}


.icon:active path {
	fill: rgba(255, 255, 255, 0.3);
}

.main-footer .copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 33.33%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000;
}

.main-footer .copyright-text {
	font-size: 14px;
	line-height: 26px;
}

.main-footer .ha-logo {
	margin-left: 10px;
}

.copyright .ha-logo path {
	fill: #000;
}

.copyright .ha-logo:hover path {
	fill: #90bcd7;
}

.copyright .ha-logo:active path {
	fill: #a9a9a9;
}


/*Стили внутренней страницы*/

body.inner-page {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;

	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	-webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

}

.main-navigation .active {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #766357;
	text-transform: uppercase;
}

/*Блок с фоном и формами*/

.filter-background .filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 5px;
	padding-left: 6%;
	padding-right: 6%;
}


.filter-background,
.filter-facilities,
.filter-type,
.filter-range {
	padding: 0;
	margin: 0;
	border: none;
}

.filter-background {
	width: 100%;
	background-image: url("../img/inner-background.jpg");
	background-size: 100%, cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #536677;
}



.legend {
	padding-top: 27px;
	padding-bottom: 25px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	margin-right: 0;
}


.filter-background .filter-list {
	padding: 0;
	margin: 0;
	list-style: none;
}


.filter-background label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

.filter-background .filter-facilities {
	width: 153px;

}

.filter-type {
	width: 169px;
	padding-left: 9.7%;
	box-sizing: content-box;
}

.filter-background .filter-list-items {
	margin-bottom: 25px;
	line-height: 21px;
}

.filter-list-items label {
	position: relative;
	display: block;
	padding-left: 39px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filter-checkbox:hover + label,
.filter-checkbox:focus + label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

.filter-checkbox + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-checkbox:checked + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-checkbox:disabled + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	opacity: 0.3;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-checkbox:checked:disabled + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	opacity: 0.3;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-range {
	width: 26.5%;
	margin-left: auto;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.filter-range-title {
	margin-bottom: 9px;
	padding-top: 27px;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	width: 100%;
	height: 35px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 32px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	padding-left: 20%;

}


.price-controls input {
	width: 35px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}

.sort {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #e5e5e5;
}

.sort-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}

.sort-title {
	-ms-flex-item-align: baseline;
	align-self: baseline;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 6%;
	margin-right: 48px;
	font-size: 21px;
	line-height: 26px;
	color: black;
	text-transform: uppercase;
}

.sort-name,
.sort-item {
	-ms-flex-item-align: baseline;
	align-self: baseline;
}

.sort-bar .sort-name {
	margin-right: 43px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
}

.sort-item {
	margin-right: 32px;
}

.sort-item a,
.sort-rating {
	display: block;
}

.sort-item a:link {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #81b3d2;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:active {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
}

.sort-bar .active {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #81b3d2;
}


.sort-rating {
	-ms-flex-item-align: baseline;
	align-self: baseline;
	width: 37px;
	margin-left: auto;
	padding-right: 6%;
}

.sort-icon {
	fill: #cacaca;
}

.sort-icon:hover {
	fill: #000;
}

.sort-icon:active {
	fill: #81b3d2;
}


.sort-rating .icon-down {
	fill: #81b3d2;
	padding-left: 7px;
	margin-right: 0;
}

.search-results {
	width: 100%;
	background-color: transparent;
}

.search-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}

.search-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-preview-amara {
	width: 135px;
	height: 90px;
	margin-left: 6%;
	margin-right: 30px;
	background-image: url("../img/amara.jpg");
	background-repeat: no-repeat;

}


.hotel-desc {
	width: 28%;
	margin-top: -5px;
}

.hotel-desc span:first-child {
	padding-right: 33px;
}

.search-item span.villas-padding {
	padding-right: 3px;
}

.hotel-desc h3 {
	margin: 0;
	margin-bottom: 7px;
	padding: 0;
}

a.hotel-name {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

a.hotel-name:hover {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #81b3d2;
}

a.hotel-name:active {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.30);
	;
}

.hotel-desc span {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333;
	text-transform: uppercase;
}

.hotel-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


.link-more {
	display: block;
	margin-right: 6px;
	margin-top: 14px;
	width: 110px;
	height: 27px;
	padding-top: 3px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	background-color: #81b3d2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.link-more:hover {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #5496bd;
}

.link-more:active {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}



.hotel-reserve {
	display: block;
	width: 142px;
	height: 27px;
	margin-top: 14px;
	padding-top: 3px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	background-color: #766357;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hotel-reserve:hover {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #604e43;
}

.hotel-reserve:active {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	background-color: #503e33;
}

.hotel-rating {
	width: 115px;
	margin-left: auto;
	margin-right: 6%;
}

.stars-container-amara {
	margin-bottom: 20px;
	margin-bottom: 49px;
	margin-left: auto;
	width: 89px;
	height: 17px;
	text-align: right;

}

.stars-container-amara .star,
.stars-container-desert .star,
.stars-container-villas .star {
	display: inline-block;
	text-align: right;
	width: 18px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
}

.stars-container-amara .star:nth-child(4) {
	padding-left: 2px;
}

.stars-container-amara .star:nth-child(3) {
	padding-left: 2px;
}

.stars-container-desert {
	margin-bottom: 20px;
	margin-bottom: 49px;
	margin-left: auto;
	width: 70px;
	height: 17px;
	text-align: right;
}

.stars-container-villas {
	margin-bottom: 20px;
	margin-bottom: 49px;
	margin-left: auto;
	width: 40px;
	height: 17px;
	text-align: right;
}

.search-list .rating-text {
	width: 110px;
	height: 27px;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666;
	text-transform: uppercase;
	background-color: #f2f2f2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hotel-preview-desert {
	width: 135px;
	height: 90px;
	margin-left: 6%;
	margin-right: 30px;
	background-image: url("../img/desert.jpg");
	background-repeat: no-repeat;
}


.hotel-preview-villas {
	width: 135px;
	height: 90px;
	margin-left: 6%;
	margin-right: 30px;
	background-image: url("../img/villas.jpg");
	background-repeat: no-repeat;
}
