html {
	background-color: #f2f2f2;

}


body {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;

	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.main-header {
	position: relative;
}

.main-navigation {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0;
	color: #000;
	background-color: #fff;
}



.main-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-logo {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
	transform: translatex(-50%);
	width: 138px;
	height: 70px;
}

.menu-items {
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.menu-items:first-child {
	padding-left: 6%;
}

.menu-items:nth-child(2) {
	margin-right: 7%;
	margin-left: -5px;
}

.menu-items:last-child {
	padding-right: 6%;
}

.menu-items:nth-child(1),
.menu-items:nth-child(2) {
	text-align: left;
}

.menu-items:nth-child(3),
.menu-items:nth-child(4) {
	text-align: right;
}

.main-menu a {
	color: #000;
}

.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}

.main-menu a:active {
	color: rgba(0, 0, 0, 0.30);
}

.container {
	margin: 0 auto;
}

.promo {
	width: 100%;
	position: relative;
	margin-bottom: 61px;
	background-image: url("../img/main-decor.png"),
	url("../img/background-photo-1.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: bottom, center;
}

.promo-text {
	position: relative;
	top: 76px;
	left: 50%;
	z-index: 1;
	padding-bottom: 150px;
	transform: translatex(-50%);
	width: 458px;
	height: 352px;
}

.features {
	width: 100%;
}

.features-title {
	margin: 0;
	margin-bottom: 24px;
	padding: 0 320px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000;
	text-align: center;
}

.features-lead {
	margin: 0;
	margin-bottom: 51px;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	color: #333;
	text-align: center;
}

.features-list,
.description-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}


.features-item-main {
	width: 100%;
}

.features-description {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
}

.features-content {
	width: 33.33%;
	padding: 0;
	padding-bottom: 33px;
	text-align: center;
	background-color: #81b3d2;
}

.features-content h3 {
	margin: 0;
	padding-top: 48px;
	padding-left: 96px;
	padding-right: 96px;
	padding-bottom: 26px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-align: inherit;
}

.features-content p {
	margin: 0;
	padding-top: 0;
	padding-right: 47px;
	padding-left: 47px;
	padding-bottom: 22px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #fff;
	text-align: center;
}



.features-pic-1 {
	flex-grow: 1;
	width: 66.66%;
	background-image: url("../img/city.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.description-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.description-items {
	padding-top: 161px;
	width: 33.33%;
}

.description-items b {
	padding-top: 80px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000;
}


.description-items p {
	padding-left: 53px;
	padding-right: 55px;
	padding-top: 9px;
	padding-bottom: 67px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #333;
}

.icon-house {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: center 60px;
}

.icon-food {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: center 60px;
}

.icon-souvenirs {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: center 60px;
}

.features-pic-2 {
	flex-grow: 1;
	width: 66.66%;
	background-image: url("../img/canyon.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.features-item {
	display: flex;
	flex-wrap: wrap;
	width: 33%;
	flex-grow: 1;
	margin-bottom: 55px;
	text-align: center;
	background-color: #eeeeee;
}

.content-align {
	justify-content: center;
	margin: 0;
	padding: 48px 30px;
	text-align: center;
}

.content-align h3 {
	margin: 0;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 23px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000;
	text-align: center;
}

.content-align p {
	margin: 0;
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 21px;
	font-weight: 400;
	color: #333;
	text-align: center;
}

.content-align p:first-of-type {
	padding-bottom: 21px;
}

.content-align p:last-of-type {
	padding-bottom: 11px;
	padding-right: 30px;
}

.search {
	width: 100%;
	text-align: center;
	background-color: #fff;
}


.search h3 {
	margin: 0;
	padding-bottom: 31px;
	text-align: center;
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
}



.search p {
	margin: 0;
	padding-bottom: 50px;
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333;
}


.btn {
	width: 568px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	background-color: #766357;
	border: none;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	background-color: #604e43;
	border: none;
}

.btn:active {
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.302);
	background-color: #503e33;
	border: none;
}

.map {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: -120px;
}


.search-form {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	width: 568px;
	height: 395px;
	padding-top: 53px;
	padding-left: 0;
	background-color: white;
	transform: translateX(-50%);
	box-sizing: border-box;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form p {
	margin: 0;
	vertical-align: middle;
	padding: 0;
	padding-left: 0px;
}

.search-form .fieldset-form {
	margin: 0;
	padding: 0;
	border: none;
}

.search-form label {
	padding-left: 53px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000;
}

.search-form input {
	width: 346px;
	height: 38px;
	margin-bottom: 29px;
	margin-left: 21px;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	background-color: #f2f2f2;
	border: none;
}

.search-form .check-out {
	position: relative;
	margin-left: 17px;
}

.search-form input:hover {
	font-size: 14px;
	font-weight: 700;
	color: #000;
	background-color: #ebebeb;
	border: none;
}

.search-form input:focus {
	font-size: 14px;
	font-weight: 700;
	color: #000;
	background-color: #fff;
	outline: 2px solid #e5e5e5;
}

.search-form input::placeholder {
	padding-left: 14px;
	color: #000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.calendar-icon-in {
	position: absolute;
	top: 63px;
	left: 472px;
	fill: #cacaca;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.calendar-icon-out {
	position: absolute;
	top: 131px;
	left: 472px;
	fill: #cacaca;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.calendar-icon-in:hover,
.calendar-icon-out:hover,
.calendar-icon-in:focus,
.calendar-icon-out:focus {
	fill: #000;
}

.calendar-icon-in:active,
.calendar-icon-out:active {
	fill: #90bcd7;
}

.guest-field {
	margin: 0;
	padding: 0;
}

.guest-field label {
	margin: 0;
	padding-left: 53px;
}

.guest-field input {
	margin-bottom: 0;
}

.guest-field .guest-adult,
.guest-field .guest-child {
	width: 114px;
	margin-left: 36px;
}

.guest-field .guest-adult {
	position: relative;
	margin-right: -2px;
}

.guest-field .guest-child {
	position: relative;
	margin-left: 27px;

}

.guest-field .adult-minus {
	position: absolute;
	top: 204px;
	left: 148px;
	z-index: 1;
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;

}

.guest-field .child-minus {
	position: absolute;
	top: 204px;
	left: 394px;
	z-index: 1;
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.guest-field .child-plus {
	position: absolute;
	top: 204px;
	left: 482px;
	z-index: 1;
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.guest-field .adult-plus {
	position: absolute;
	top: 204px;
	left: 230px;
	z-index: 1;
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;

}

.guest-field input:nth-child(3)::placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.guest-field input:last-of-type::placeholder {
	padding-left: 55px;
	color: #000;
	font-size: 14px;
	line-height: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.adult-minus,
.child-minus {
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;
}


.adult-minus:hover,
.child-minus:hover {
	stroke: #000;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.adult-minus:active,
.child-minus:active {
	stroke: #90bcd7;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.child-plus,
.adult-plus {
	stroke: #a9a9a9;
	border: none;
	background-color: inherit;
	cursor: pointer;
}


.child-plus:hover,
.adult-plus:hover {
	stroke: #000;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.child-plus:active,
.adult-plus:active {
	stroke: #90bcd7;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.btn-search {
	width: 456px;
	height: 58px;
	margin: 55px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	background-color: #81b3d2;
	border: none;
	cursor: pointer;
	box-sizing: border-box''
}

.btn-search:hover,
.btn-search:focus {
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #fff;
	background-color: #669ec0;
	border: none;
}

.btn-search:active {
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.30);
	background-color: #669ec0;
	border: none;
}


.main-footer {
	bottom: 1px;
	margin-top: -120px;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	width: 100%;
	margin: 0;
	padding: 36px 0;
	text-align: center;
	color: #000;
	background-color: rgba(255, 255, 255, 0.90);
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer .footer-text {
	width: 33%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
}

.main-footer p {
	width: 33%;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	font-weight: 700;
}

.main-footer .footer-social {
	width: 33%;
	margin: 0;
	padding: 0;
}

.main-footer .social-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style: none;
}

.main-footer .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	text-align: center;
	background-color: #81b3d2;
	text-decoration: none;
}

.main-footer .icon:hover,
.main-footer .icon:focus {
	background-color: #669ec0;
}

.main-footer .icon:active,
.main-footer .icon:active {
	background-color: #5496bd;
}


.icon:active path {
	fill: rgba(255, 255, 255, 0.3);
}

.main-footer .copyright {
	width: 33%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000;
}

.main-footer .copyright-text {
	margin-right: -190px;
}

.copyright .ha-logo path {
	fill: #000;
}

.copyright .ha-logo:hover path {
	fill: #90bcd7;
}

.copyright .ha-logo:active path {
	fill: #a9a9a9;
}


/*Стили внутренней страницы*/

body.inner-page {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;

	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

}

.main-navigation .active {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #766357;
	text-transform: uppercase;
}


.filter-background,
.filter,
.filter-facilities,
.filter-type,
.filter-range {
	padding: 0;
	margin: 0;
	border: none;
}

.container .filter-background {
	width: 100%;
	background-image: url("../img/filter-background-2.png");
	background-size: 100% contain;

	background-repeat: no-repeat;
	background-color: #536677;
}

.filter-background .filter-facilities {
	padding-left: 70px;
}

.filter-background .filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 21px;
}

.filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.legend {
	padding-bottom: 28px;
	padding-top: 28px;
	margin: 0;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}


.filter-background label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

.filter-background .filter-list-items {
	margin-bottom: 20px;
}


.filter-range {
	width: 330px;
	padding-right: 74px;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.filter-range-title {
	margin-bottom: 9px;
	padding-top: 28px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}

.sort {
	border-bottom: 1px solid #e5e5e5;
}

.sort-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}

.sort-list {
	list-style: none;
}


.sort-list li:first-of-type {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
}

.sort-item a:link {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #81b3d2;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:active {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
}

.sort-list .active {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #81b3d2;
}

.sort-icon {
	fill: #cacaca;
}

.sort-icon:hover {
	fill: #000;
}

.sort-icon:active {
	fill: #81b3d2;
}


.sort-rating .icon-down {
	fill: #81b3d2;
}

.search-results {
	background-color: transparent;
}

.search-list {
	list-style: none;
}

.search-item {
	border-bottom: 1px solid #e5e5e5;
}

.hotel-preview-amara {
	width: 135px;
	height: 90px;
	background-image: url("../img/amara.jpg");
	background-repeat: no-repeat;

}

a.hotel-name {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000;
}

a.hotel-name:hover {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #81b3d2;
}

a.hotel-name:active {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.30);
	;
}

.hotel-desc p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333;
	text-transform: uppercase;
}

.link-more {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #81b3d2;
}

.link-more:hover {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #5496bd;
}

.link-more:active {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel-reserve {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #766357;
}

.hotel-reserve:hover {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #604e43;
}

.hotel-reserve:active {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	background-color: #503e33;
}

.stars-container-amara {
	margin-bottom: 20px;
	width: 80px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.rating-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.hotel-preview-desert {
	width: 135px;
	height: 90px;
	background-image: url("../img/desert.jpg");
	background-repeat: no-repeat;
}

.stars-container-desert {
	margin-bottom: 20px;
	width: 61px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.hotel-preview-villas {
	width: 135px;
	height: 90px;
	background-image: url("../img/villas.jpg");
	background-repeat: no-repeat;
}

.stars-container-villas {
	margin-bottom: 20px;
	width: 40px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}
